.product-container {
  background-color: var(--white-two);
  height: 625px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.product-container-2 {
  min-height: 743px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
}

.product-heading {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #2e2e2e;
}
.product-description {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #2e2e2e;
}
.product-price {
  height: 36px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--red-pink);
}
.product-sub-heading {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--greyish);
}
.cart-btn {
  width: 221px;
  height: 60px;
  border-radius: 100px;
  background-color: var(--red-pink);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.cart-btn:hover {
  width: 221px;
  height: 60px;
  border-radius: 100px;
  background-color: var(--white);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--red-pink);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.quantity > button{
  width: 36px;
  height: 36px;
  background-color: var(--white-three);
  border-radius: 50%
}

.quantity > input {
  width: 50px;
  height: 36px;
  border-radius: 100px;
  border: solid 1px #e1e1e1;
  background-color: #ffffff;
  padding: 0 auto;
  text-align: center;
}
.big-image{
  transition: transform .8s;
}
.big-image:hover {
    transform: scale(1.06);
}