.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination > li > span,
.pagination > li > a,
.pagination > span > li > span {
  margin: 0 5px;
  border: 0;
  background-color: var(--white);
  color: #2e2e2e;
}

.pagination > span > li > span:hover {
  background-color: var(--red-pink);
  color: var(--white-two);
  border-radius: 50% !important;
}

.pages {
  justify-content: center;
  display: flex;
  padding-top: 7px;
  font-weight: bolder;

}

.rounded {
  border-radius: 50% !important;
  background-color: #efefef;
  border: #efefef 0.1px solid;
  padding: 7px 10px;
  margin: 0 10px;
}
