.red {
  background-color: red;
  &:hover, &.active {
    border-color: white;
    background-color: red !important;
  }
}

.orange {
  background-color: orange;
  &:hover, &.active {
    border-color: white;
    background-color: orange !important;
  }
}

.green {
  background-color: green;
  &:hover, &.active {
    border-color: white;
    background-color: green !important;
  }
}

.indigo {
  background-color: indigo;
  &:hover, &.active {
    border-color: white;
    background-color: indigo !important;
  }
}

.blue {
  background-color: blue;
  &:hover, &.active {
    border-color: white;
    background-color: blue !important;
  }
}

.purple {
  background-color: purple;
  &:hover, &.active {
    border-color: white;
    background-color: purple !important;
  }
}

.yellow {
  background-color: yellow;
  &:hover, &.active {
    border-color: white;
    background-color: yellow !important;
  }
}

.black {
  background-color: black;
  &:hover, &.active {
    border-color: white;
    background-color: black !important;
  }
}

.white {
  background-color: white;
  border-color: gray;
  &:hover, &.active {
    border-color: gray;
    background-color: white !important;
  }
}

.fa-circle {
  border-radius: 50%;
  margin-right: 10px;
}

.btn-grp > {
  .btn-grp > .btn {
    border-radius: 50%;
    width: 8px;
    height: 25px;
  }
  .btn {
    &:not(.dropdown-toggle) {
      border-radius: 50%;
      width: 8px;
      height: 25px;
    }
    &:hover {
      border-radius: 50%;
      margin-right: 10px;
      border-style: groove;
      border-width: 3px;
    }
  }
}

.btn.active {
  border-radius: 50%;
  margin-right: 10px;
  border-style: groove;
  border-width: 3px;
}