.red {
  background-color: red;
}

.red:hover,
.red.active {
  border-color: white;
  background-color: red !important;
}
.orange {
  background-color: orange;
}
.orange:hover,
.orange.active {
  border-color: white;
  background-color: orange !important;
}
.green {
  background-color: green;
}
.green:hover,
.green.active {
  border-color: white;
  background-color: green !important;
}
.indigo {
  background-color: indigo;
}
.indigo:hover,
.indigo.active {
  border-color: white;
  background-color: indigo !important;
}
.blue {
  background-color: blue;
}
.blue:hover,
.blue.active {
  border-color: white;
  background-color: blue !important;
}
.purple {
  background-color: purple;
}
.purple:hover,
.purple.active {
  border-color: white;
  background-color: purple !important;
}
.yellow {
  background-color: yellow;
}
.yellow:hover,
.yellow.active {
  border-color: white;
  background-color: yellow !important;
}
.black {
  background-color: black;
}
.black:hover,
.black.active {
  border-color: white;
  background-color: black !important;
}
.white {
  background-color: white;
  border-color: gray;
}
.white:hover,
.white.active {
  border-color: gray;
  background-color: white !important;
}

.fa-circle {
  border-radius: 50%;
  margin-right: 10px;
}

.btn-grp > .btn-grp > .btn,
.btn-grp > .btn:not(.dropdown-toggle) {
  border-radius: 50%;
  width: 8px;
  height: 25px;
}

.btn-grp > .btn:hover,
.btn.active {
  border-radius: 50%;
  margin-right: 10px;
  border-style: groove;
  border-width: 3px;
}

