.btn-groups > .btn {
  width: 55px;
  border-radius: 2px;
  background-color: #efefef;
  margin-right: 10px;
  &:hover {
    width: 55px;
    border-radius: 2px;
    background-color: var(--red-pink);
    margin-right: 10px;
    color: #efefef;
  }
}

.btn.active {
  width: 55px;
  border-radius: 2px;
  background-color: var(--red-pink);
  margin-right: 10px;
  color: #efefef;
}