.btn-groups > .btn {
  width: 55px;
  border-radius: 2px;
  background-color: #efefef;
  margin-right: 10px;
}
.btn-groups > .btn:hover, .btn.active {
    width: 55px;
    border-radius: 2px;
    background-color: var(--red-pink);;
    margin-right: 10px;
    color: #efefef;
  }
