.login-input {
  width: 300px;
  height: 60px;
  border-radius: 6px;
  border: solid 1px #e1e1e1;
  margin: auto;
}

.login-form {
  text-align: center;
}
.login-button {
  width: 221px;
  height: 60px;
  border-radius: 100px;
  background-color:var(--red-pink);
  color: var(--white-two);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
