/* Color palette */
:root {
  --sunflower-yellow: #ffd201;
  --brownish-grey: #6c6c6c;
  --vivid-purple: #9013fe;
  --aquamarine: #00d3ca;
  --white: #f7f7f7;
  --red-pink: #f62f5e;
  --sky-blue: #6eb2fb;
  --macaroni-and-cheese: #f1ad3d;
  --white-two: #ffffff;
  --greyish: #b4b4b4;
}
/* Text styles */
.Text-Style {
  font-family: PlayfairDisplay;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #2e2e2e;
}
.Text-Style-2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: var(--red-pink);
}
.Text-Style-4 {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: var(--red-pink);
}

body {
  background-color: var(--white);
}
